<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TeaEnterpriseInfoMapper">

    <resultMap type="com.wanou.project.system.domain.TeaEnterpriseInfo" id="TeaEnterpriseInfoResult">
        <result property="id"    column="id"    />
        <result property="enterpriseName"    column="enterprise_name"    />
        <result property="type"    column="type"    />
        <result property="nature"    column="nature"    />
        <result property="setUpDate"    column="set_up_date"    />
        <result property="legalPerson"    column="legal_person"    />
        <result property="legalPersonIdCard"    column="legal_person_id_card"    />
        <result property="operationStatus"    column="operation_status"    />
        <result property="regCapital"    column="reg_capital"    />
        <result property="address"    column="address"    />
        <result property="cultivatedArea"    column="cultivated_area"    />
        <result property="workPersonNum"    column="work_person_num"    />
        <result property="region" column="region" />
    </resultMap>

    <resultMap type="TeaEnterpriseInfo" id="TeaEnterpriseInfoResult1">
        <id property="id"    column="id"    />
        <result property="enterpriseName"    column="enterprise_name"    />
        <result property="type"    column="type"    />
        <result property="nature"    column="nature"    />
        <result property="setUpDate"    column="set_up_date"    />
        <result property="legalPerson"    column="legal_person"    />
        <result property="legalPersonIdCard"    column="legal_person_id_card"    />
        <result property="operationStatus"    column="operation_status"    />
        <result property="regCapital"    column="reg_capital"    />
        <result property="address"    column="address"    />
        <result property="cultivatedArea"    column="cultivated_area"    />
        <result property="workPersonNum"    column="work_person_num"    />
        <result property="region" column="region" />
        <result property="isCountyEmp" column="is_county_emp" />
        <result property="isTownEmp" column="is_town_emp" />
        <result property="deptId" column="dept_id" />
        <collection property="teaType" column="id" select="com.wanou.project.system.mapper.TeaEnterpriseTeaTypeMapper.selectTeaEnterpriseTeaTypeIntListByTeaEnterpriseId" />
    </resultMap>

    <sql id="selectTeaEnterpriseInfoVo">
        select id, enterprise_name, `type`, nature, set_up_date, legal_person, legal_person_id_card, operation_status, reg_capital, address, cultivated_area, work_person_num,region,dept_id from tea_enterprise_info
    </sql>

    <select id="selectTeaEnterpriseInfoList" parameterType="TeaEnterpriseInfo" resultMap="TeaEnterpriseInfoResult1">
        select t1.id, t1.enterprise_name, t1.`type`, t1.nature, t1.set_up_date, t1.legal_person, t1.legal_person_id_card, t1.operation_status,
        t1.reg_capital, t1.address, t1.cultivated_area, t1.work_person_num,t1.region,t1.dept_id
        from tea_enterprise_info t1 LEFT JOIN sys_dept t2 ON t2.dept_id = t1.dept_id
        <where>
            <if test="deptId != null">and (t2.dept_id = #{deptId} OR FIND_IN_SET(#{deptId},t2.ancestors))</if>
            <if test="enterpriseName != null  and enterpriseName != ''"> and t1.enterprise_name like concat('%', #{enterpriseName}, '%')</if>
            <if test="type != null  and type != ''"> and t1.type = #{type}</if>
            <if test="nature != null  and nature != ''"> and t1.nature = #{nature}</if>
            <if test="setUpDate != null "> and t1.set_up_date = #{setUpDate}</if>
            <if test="legalPerson != null  and legalPerson != ''"> and t1.legal_person = #{legalPerson}</if>
            <if test="legalPersonIdCard != null  and legalPersonIdCard != ''"> and t1.legal_person_id_card = #{legalPersonIdCard}</if>
            <if test="operationStatus != null "> and t1.operation_status = #{operationStatus}</if>
            <if test="regCapital != null  and regCapital != ''"> and t1.reg_capital = #{regCapital}</if>
            <if test="address != null  and address != ''"> and t1.address = #{address}</if>
            <if test="cultivatedArea != null "> and t1.cultivated_area = #{cultivatedArea}</if>
            <if test="workPersonNum != null "> and t1.work_person_num = #{workPersonNum}</if>
            <if test="region != null and region != ''"> and t1.region = #{region}</if>
            <if test="isCountyEmp != null">and t1.is_county_emp = #{isCountyEmp}</if>
            <if test="isTownEmp != null">and t1.is_town_emp = #{isTownEmp}</if>
        </where>
        ORDER BY `order`
    </select>

    <select id="selectTeaEnterpriseInfoById" resultMap="TeaEnterpriseInfoResult1">
        <include refid="selectTeaEnterpriseInfoVo"/>
        where id = #{id}
    </select>

    <select id="getTotalData" resultType="com.wanou.project.system.domain.openApi.TeaEnterpriseTotal">
        SELECT
        	TRUNCATE(t1.yield,2) yield,TRUNCATE(t2.productionValue,2) productionValue,t3.teaEnterPriseCount,t4.teaPeasantCount,t5.teaGardenCount,TRUNCATE(t6.plantArea,2) plantArea
        FROM
        	(SELECT (SUM(yield_value_money) / 10000) yield FROM tea_enterprise_yield_sales) t1,
        	(SELECT (SUM(yield_value_number) / 20000000) productionValue  FROM tea_enterprise_yield_sales) t2,
        	(SELECT COUNT(id) teaEnterPriseCount FROM tea_enterprise_info) t3,
        	(SELECT COUNT(id) teaPeasantCount FROM tea_peasant_info) t4,
        	(SELECT COUNT(tea_garden_id) teaGardenCount FROM tea_garden) t5,
        	(SELECT SUM(cultivated_area) plantArea FROM tea_enterprise_info) t6
    </select>

    <select id="getTeaSalesTypes" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        	t2.dict_label `name`,
        	COUNT( t1.tea_type ) `value`
        FROM
        	`tea_enterprise_tea_type` t1 INNER JOIN sys_dict_data t2 ON t2.dict_value = t1.tea_type AND t2.dict_type = 'sys_tea_type'
            INNER JOIN tea_enterprise_info t3 ON t3.id = t1.tea_enterprise_id
        <where>
            <if test="region != null and region != ''">t3.region = #{region}</if>
        </where>
        GROUP BY
        	t1.tea_type
        ORDER BY
            t2.dict_sort
    </select>

    <select id="getYieldGroupRegion" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        	COUNT(DISTINCT(t1.id)) enterpriseCount,TRUNCATE((SUM(yield_value_number) / 20000000),2) yieldValueNum,TRUNCATE((SUM(yield_value_money) / 10000),2) yieldValueMoney,t1.region
        FROM
        	tea_enterprise_info t1 LEFT JOIN tea_enterprise_yield_sales t2 ON t2.tea_peasant_id = t1.id
        GROUP BY
        	t1.region
    </select>

    <select id="selectTeaEnterpriseCount" resultType="java.lang.Integer">
        select count(id) from tea_enterprise_info
    </select>

    <select id="getEnterpriseCount" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM tea_enterprise_info
        <where>
            <if test="region != null and region != ''">
                region = #{region}
            </if>
        </where>
    </select>

    <select id="getEnterpriseNameAndNumberMorney" resultType="com.alibaba.fastjson.JSONObject">
        select
            t1.enterprise_name , t2.yield_value_money,t2.yield_value_number
        from
            tea_enterprise_info t1 LEFT JOIN tea_enterprise_yield_sales t2
        on t2.tea_peasant_id=t1.id
        GROUP BY
            t1.id
    </select>

    <insert id="insertTeaEnterpriseInfo" parameterType="TeaEnterpriseInfo" useGeneratedKeys="true" keyProperty="id">
        insert into tea_enterprise_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enterpriseName != null">enterprise_name,</if>
            <if test="type != null">type,</if>
            <if test="nature != null">nature,</if>
            <if test="setUpDate != null">set_up_date,</if>
            <if test="legalPerson != null">legal_person,</if>
            <if test="legalPersonIdCard != null">legal_person_id_card,</if>
            <if test="operationStatus != null">operation_status,</if>
            <if test="regCapital != null">reg_capital,</if>
            <if test="address != null">address,</if>
            <if test="cultivatedArea != null">cultivated_area,</if>
            <if test="workPersonNum != null">work_person_num,</if>
            <if test="region != null and region != ''">region,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="enterpriseName != null">#{enterpriseName},</if>
            <if test="type != null">#{type},</if>
            <if test="nature != null">#{nature},</if>
            <if test="setUpDate != null">#{setUpDate},</if>
            <if test="legalPerson != null">#{legalPerson},</if>
            <if test="legalPersonIdCard != null">#{legalPersonIdCard},</if>
            <if test="operationStatus != null">#{operationStatus},</if>
            <if test="regCapital != null">#{regCapital},</if>
            <if test="address != null">#{address},</if>
            <if test="cultivatedArea != null">#{cultivatedArea},</if>
            <if test="workPersonNum != null">#{workPersonNum},</if>
            <if test="region != null and region != ''">#{region},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateTeaEnterpriseInfo" parameterType="TeaEnterpriseInfo">
        update tea_enterprise_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="enterpriseName != null">enterprise_name = #{enterpriseName},</if>
            <if test="type != null">type = #{type},</if>
            <if test="nature != null">nature = #{nature},</if>
            <if test="setUpDate != null">set_up_date = #{setUpDate},</if>
            <if test="legalPerson != null">legal_person = #{legalPerson},</if>
            <if test="legalPersonIdCard != null">legal_person_id_card = #{legalPersonIdCard},</if>
            <if test="operationStatus != null">operation_status = #{operationStatus},</if>
            <if test="regCapital != null">reg_capital = #{regCapital},</if>
            <if test="address != null">address = #{address},</if>
            <if test="cultivatedArea != null">cultivated_area = #{cultivatedArea},</if>
            <if test="workPersonNum != null">work_person_num = #{workPersonNum},</if>
            <if test="region != null and region != ''">region = #{region},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeaEnterpriseInfoById" parameterType="Long">
        delete from tea_enterprise_info where id = #{id}
    </delete>

    <delete id="deleteTeaEnterpriseInfoByIds" parameterType="String">
        delete from tea_enterprise_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
