<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TeaEnterpriseYieldSalesMapper">

    <resultMap type="TeaEnterpriseYieldSales" id="TeaEnterpriseYieldSalesResult">
        <result property="id"    column="id"    />
        <result property="year"    column="year"    />
        <result property="yieldValueNumber"    column="yield_value_number"    />
        <result property="yieldValueMoney"    column="yield_value_money"    />
        <result property="salesVolumeNumber"    column="sales_volume_number"    />
        <result property="salesVolumeMoney"    column="sales_volume_money"    />
        <result property="productProfitStatistics"    column="product_profit_statistics"    />
        <result property="productCostStatistics"    column="product_cost_statistics"    />
        <result property="teaPeasantId"    column="tea_peasant_id"    />
    </resultMap>

    <sql id="selectTeaEnterpriseYieldSalesVo">
        select id, `year`, yield_value_number, yield_value_money, sales_volume_number, sales_volume_money, product_profit_statistics, product_cost_statistics, tea_peasant_id from tea_enterprise_yield_sales
    </sql>

    <select id="selectTeaEnterpriseYieldSalesList" parameterType="TeaEnterpriseYieldSales" resultMap="TeaEnterpriseYieldSalesResult">
        <include refid="selectTeaEnterpriseYieldSalesVo"/>
        <where>
            <if test="year != null"> and `year` = #{year}</if>
            <if test="teaPeasantId != null "> and tea_peasant_id = #{teaPeasantId}</if>
        </where>
    </select>

    <select id="selectTeaEnterpriseYieldSalesById" parameterType="Long" resultMap="TeaEnterpriseYieldSalesResult">
        <include refid="selectTeaEnterpriseYieldSalesVo"/>
        where id = #{id}
    </select>

    <select id="selectTeaEnterpriseYieldSalesTotalRange" resultType="java.util.Map">
        SELECT
        	SUM(sales_volume_number) salesNumber ,SUM(sales_volume_money) salesMoney
        FROM
        	tea_enterprise_yield_sales
        WHERE
        	`year` BETWEEN #{start} AND #{end}
        	<if test="enterpriseId != null">
                AND tea_peasant_id = #{enterpriseId}
            </if>
        GROUP BY `year`
        ORDER BY `year`
    </select>

    <select id="getSalesYearOnYear" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        	TRUNCATE((((t2.salesNum/t1.salesNum) - 1) * 100),2) salesNumYearOnYear,TRUNCATE((((t2.salesMoney/t1.salesMoney) - 1) * 100),2) salesMoneyYearOnYear
        FROM
        	(SELECT SUM(sales_volume_number) salesNum,SUM(sales_volume_money) salesMoney FROM tea_enterprise_yield_sales WHERE `year` = #{beforeLastYear}) t1,
        	(SELECT SUM(sales_volume_number) salesNum,SUM(sales_volume_money) salesMoney FROM tea_enterprise_yield_sales WHERE `year` = #{lastYear}) t2
    </select>

    <select id="getSalesByRegion" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        TRUNCATE(SUM(t1.sales_volume_number / 20000000),2) salesNum,TRUNCATE(SUM(t1.sales_volume_money / 10000),2) salesMoney,t1.`year`
        FROM
        tea_enterprise_yield_sales t1 INNER JOIN tea_enterprise_info t2 ON t1.tea_peasant_id = t2.id
        WHERE
        t2.region = #{region} AND t1.`year` >= #{start} AND t1.`year` &lt;= #{end}
        GROUP BY
        t1.`year`
        ORDER BY
        t1.`year`
    </select>

    <select id="costAndProfitStatistics" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        SUM(t1.product_cost_statistics) cost,SUM(t1.product_profit_statistics) profit,t1.`year`
        FROM
        tea_enterprise_yield_sales t1 INNER JOIN tea_enterprise_info t2 ON t2.id = t1.tea_peasant_id
        WHERE
        t1.`year` >= #{start} AND t1.`year` &lt;= #{end}
        <if test="enterpriseId != null">
            AND t1.tea_peasant_id = #{enterpriseId}
        </if>
        GROUP BY
        t1.`year`
        ORDER BY
        t1.`year`
    </select>


    <insert id="insertTeaEnterpriseYieldSales" parameterType="TeaEnterpriseYieldSales" useGeneratedKeys="true" keyProperty="id">
        insert into tea_enterprise_yield_sales
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="year != null">`year`,</if>
            <if test="yieldValueNumber != null">yield_value_number,</if>
            <if test="yieldValueMoney != null">yield_value_money,</if>
            <if test="salesVolumeNumber != null">sales_volume_number,</if>
            <if test="salesVolumeMoney != null">sales_volume_money,</if>
            <if test="productProfitStatistics != null">product_profit_statistics,</if>
            <if test="productCostStatistics != null">product_cost_statistics,</if>
            <if test="teaPeasantId != null">tea_peasant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="year != null">#{year},</if>
            <if test="yieldValueNumber != null">#{yieldValueNumber},</if>
            <if test="yieldValueMoney != null">#{yieldValueMoney},</if>
            <if test="salesVolumeNumber != null">#{salesVolumeNumber},</if>
            <if test="salesVolumeMoney != null">#{salesVolumeMoney},</if>
            <if test="productProfitStatistics != null">#{productProfitStatistics},</if>
            <if test="productCostStatistics != null">#{productCostStatistics},</if>
            <if test="teaPeasantId != null">#{teaPeasantId},</if>
         </trim>
    </insert>

    <update id="updateTeaEnterpriseYieldSales" parameterType="TeaEnterpriseYieldSales">
        update tea_enterprise_yield_sales
        <trim prefix="SET" suffixOverrides=",">
            <if test="year != null">`year` = #{year},</if>
            <if test="yieldValueNumber != null">yield_value_number = #{yieldValueNumber},</if>
            <if test="yieldValueMoney != null">yield_value_money = #{yieldValueMoney},</if>
            <if test="salesVolumeNumber != null">sales_volume_number = #{salesVolumeNumber},</if>
            <if test="salesVolumeMoney != null">sales_volume_money = #{salesVolumeMoney},</if>
            <if test="productProfitStatistics != null">product_profit_statistics = #{productProfitStatistics},</if>
            <if test="productCostStatistics != null">product_cost_statistics = #{productCostStatistics},</if>
            <if test="teaPeasantId != null">tea_peasant_id = #{teaPeasantId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeaEnterpriseYieldSalesById" parameterType="Long">
        delete from tea_enterprise_yield_sales where id = #{id}
    </delete>

    <delete id="deleteTeaEnterpriseYieldSalesByIds" parameterType="String">
        delete from tea_enterprise_yield_sales where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
