<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TeaEnterpriseProcurementMapper">
    
    <resultMap type="TeaEnterpriseProcurement" id="TeaEnterpriseProcurementResult">
        <result property="id"    column="id"    />
        <result property="purchaseDate"    column="purchase_date"    />
        <result property="purchaseGoods"    column="purchase_goods"    />
        <result property="purchaseNumber"    column="purchase_number"    />
        <result property="teaEnterpriseId"    column="tea_enterprise_id"    />
    </resultMap>

    <sql id="selectTeaEnterpriseProcurementVo">
        select id, purchase_date, purchase_goods, purchase_number, tea_enterprise_id from tea_enterprise_procurement
    </sql>

    <select id="selectTeaEnterpriseProcurementList" parameterType="TeaEnterpriseProcurement" resultMap="TeaEnterpriseProcurementResult">
        <include refid="selectTeaEnterpriseProcurementVo"/>
        <where>  
            <if test="purchaseDate != null "> and purchase_date = #{purchaseDate}</if>
            <if test="purchaseGoods != null  and purchaseGoods != ''"> and purchase_goods = #{purchaseGoods}</if>
            <if test="purchaseNumber != null "> and purchase_number = #{purchaseNumber}</if>
            <if test="teaEnterpriseId != null "> and tea_enterprise_id = #{teaEnterpriseId}</if>
        </where>
    </select>
    
    <select id="selectTeaEnterpriseProcurementById" parameterType="Long" resultMap="TeaEnterpriseProcurementResult">
        <include refid="selectTeaEnterpriseProcurementVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTeaEnterpriseProcurement" parameterType="TeaEnterpriseProcurement" useGeneratedKeys="true" keyProperty="id">
        insert into tea_enterprise_procurement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="purchaseDate != null">purchase_date,</if>
            <if test="purchaseGoods != null">purchase_goods,</if>
            <if test="purchaseNumber != null">purchase_number,</if>
            <if test="teaEnterpriseId != null">tea_enterprise_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="purchaseDate != null">#{purchaseDate},</if>
            <if test="purchaseGoods != null">#{purchaseGoods},</if>
            <if test="purchaseNumber != null">#{purchaseNumber},</if>
            <if test="teaEnterpriseId != null">#{teaEnterpriseId},</if>
         </trim>
    </insert>

    <update id="updateTeaEnterpriseProcurement" parameterType="TeaEnterpriseProcurement">
        update tea_enterprise_procurement
        <trim prefix="SET" suffixOverrides=",">
            <if test="purchaseDate != null">purchase_date = #{purchaseDate},</if>
            <if test="purchaseGoods != null">purchase_goods = #{purchaseGoods},</if>
            <if test="purchaseNumber != null">purchase_number = #{purchaseNumber},</if>
            <if test="teaEnterpriseId != null">tea_enterprise_id = #{teaEnterpriseId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeaEnterpriseProcurementById" parameterType="Long">
        delete from tea_enterprise_procurement where id = #{id}
    </delete>

    <delete id="deleteTeaEnterpriseProcurementByIds" parameterType="String">
        delete from tea_enterprise_procurement where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>