<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TeaGardenMapper">

    <resultMap type="TeaGarden" id="TeaGardenResult">
        <result property="teaGardenId"    column="tea_garden_id"    />
        <result property="enterprises"    column="enterprises"    />
        <result property="teaArea"    column="tea_area"    />
        <result property="teaTreeVariety"    column="tea_tree_variety"    />
        <result property="employNum"    column="employ_num"    />
        <result property="facilitiesNum"    column="facilities_num"    />
        <result property="averageYield"    column="average_yield"    />
        <result property="totalProduction"    column="total_production"    />
        <result property="teaType"    column="tea_type"    />
        <result property="head"    column="head"    />
        <result property="region"    column="region"    />
        <result property="teaEnterpriseId" column="tea_enterprise_id"/>
    </resultMap>

    <resultMap id="TeaGardenVoResult" type="com.wanou.project.system.domain.vo.TeaGardenVo" extends="TeaGardenResult">
    </resultMap>

    <sql id="selectTeaGardenVo">
        select tea_garden_id, enterprises, tea_area, tea_tree_variety, employ_num, facilities_num, average_yield, total_production, tea_type, head,region
         from tea_garden
    </sql>

    <select id="selectTeaGardenList" parameterType="TeaGarden" resultMap="TeaGardenResult">
        <include refid="selectTeaGardenVo"/>
        <where>
            <if test="enterprises != null  and enterprises != ''"> and enterprises = #{enterprises}</if>
            <if test="teaArea != null "> and tea_area = #{teaArea}</if>
            <if test="teaTreeVariety != null "> and tea_tree_variety = #{teaTreeVariety}</if>
            <if test="employNum != null "> and employ_num = #{employNum}</if>
            <if test="facilitiesNum != null "> and facilities_num = #{facilitiesNum}</if>
            <if test="averageYield != null "> and average_yield = #{averageYield}</if>
            <if test="totalProduction != null  and totalProduction != ''"> and total_production = #{totalProduction}</if>
            <if test="teaType != null "> and tea_type = #{teaType}</if>
            <if test="head != null  and head != ''"> and head = #{head}</if>
            <if test="region != null  and region != ''"> and region = #{region}</if>
        </where>
    </select>

    <select id="selectTeaGardenByTeaGardenId" parameterType="Long" resultMap="TeaGardenResult">
        <include refid="selectTeaGardenVo"/>
        where tea_garden_id = #{teaGardenId}
    </select>

    <select id="listTeaGarden" parameterType="TeaGarden" resultMap="TeaGardenVoResult">
        select tea_garden_id, enterprises, tea_area, tea_tree_variety, employ_num, facilities_num, average_yield, total_production, tea_type, head,
                dictVariety.dict_label as teaTreeVarietyName, dictTeaType.dict_label as teaTypeName
         from tea_garden
         left join sys_dict_data as dictVariety on tea_tree_variety = dictVariety.dict_value and dictVariety.dict_type = "sys_variety_type"
         left join sys_dict_data as dictTeaType on tea_type = dictTeaType.dict_value and dictTeaType.dict_type = "sys_enterprise_type"
        <where>
            <if test="enterprises != null  and enterprises != ''"> and enterprises = #{enterprises}</if>
            <if test="teaArea != null "> and tea_area = #{teaArea}</if>
            <if test="teaTreeVariety != null "> and tea_tree_variety = #{teaTreeVariety}</if>
            <if test="employNum != null "> and employ_num = #{employNum}</if>
            <if test="facilitiesNum != null "> and facilities_num = #{facilitiesNum}</if>
            <if test="averageYield != null "> and average_yield = #{averageYield}</if>
            <if test="totalProduction != null  and totalProduction != ''"> and total_production = #{totalProduction}</if>
            <if test="teaType != null "> and tea_type = #{teaType}</if>
            <if test="head != null  and head != ''"> and head = #{head}</if>
        </where>
    </select>





    <insert id="insertTeaGarden" parameterType="TeaGarden">
        insert into tea_garden
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enterprises != null">enterprises,</if>
            <if test="teaArea != null">tea_area,</if>
            <if test="teaTreeVariety != null">tea_tree_variety,</if>
            <if test="employNum != null">employ_num,</if>
            <if test="facilitiesNum != null">facilities_num,</if>
            <if test="averageYield != null">average_yield,</if>
            <if test="totalProduction != null">total_production,</if>
            <if test="teaType != null">tea_type,</if>
            <if test="head != null">head,</if>
            <if test="region != null and region != ''">region,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teaGardenId != null">#{teaGardenId},</if>
            <if test="enterprises != null">#{enterprises},</if>
            <if test="teaArea != null">#{teaArea},</if>
            <if test="teaTreeVariety != null">#{teaTreeVariety},</if>
            <if test="employNum != null">#{employNum},</if>
            <if test="facilitiesNum != null">#{facilitiesNum},</if>
            <if test="averageYield != null">#{averageYield},</if>
            <if test="totalProduction != null">#{totalProduction},</if>
            <if test="teaType != null">#{teaType},</if>
            <if test="head != null">#{head},</if>
            <if test="region != null and region != ''">#{region},</if>
         </trim>
    </insert>

    <update id="updateTeaGarden" parameterType="TeaGarden">
        update tea_garden
        <trim prefix="SET" suffixOverrides=",">
            <if test="enterprises != null">enterprises = #{enterprises},</if>
            <if test="teaArea != null">tea_area = #{teaArea},</if>
            <if test="teaTreeVariety != null">tea_tree_variety = #{teaTreeVariety},</if>
            <if test="employNum != null">employ_num = #{employNum},</if>
            <if test="facilitiesNum != null">facilities_num = #{facilitiesNum},</if>
            <if test="averageYield != null">average_yield = #{averageYield},</if>
            <if test="totalProduction != null">total_production = #{totalProduction},</if>
            <if test="teaType != null">tea_type = #{teaType},</if>
            <if test="head != null">head = #{head},</if>
            <if test="region != null and region != ''">region = #{region},</if>
        </trim>
        where tea_garden_id = #{teaGardenId}
    </update>

    <delete id="deleteTeaGardenByTeaGardenId" parameterType="Long">
        delete from tea_garden where tea_garden_id = #{teaGardenId}
    </delete>

    <delete id="deleteTeaGardenByTeaGardenIds" parameterType="String">
        delete from tea_garden where tea_garden_id in
        <foreach item="teaGardenId" collection="array" open="(" separator="," close=")">
            #{teaGardenId}
        </foreach>
    </delete>
</mapper>
