<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TeaGardenTypeMapper">

    <resultMap type="com.wanou.project.system.domain.TeaGardenType" id="TeaGardenResult">
        <result property="teaGardenId"    column="tea_garden_id"    />
        <result property="type" column="type" />
        <result property="proportion" column="proportion" />
    </resultMap>

    <sql id="selectTeaGardenVo">
        select tea_garden_id, `type`,proportion
        from tea_garden
    </sql>
</mapper>
