<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TeaMarketProportionMapper">
    
    <resultMap type="TeaMarketProportion" id="TeaMarketProportionResult">
        <result property="id"    column="id"    />
        <result property="teaType"    column="tea_type"    />
        <result property="proportion"    column="proportion"    />
    </resultMap>

    <sql id="selectTeaMarketProportionVo">
        select id, tea_type, proportion from tea_market_proportion
    </sql>

    <select id="selectTeaMarketProportionList" parameterType="TeaMarketProportion" resultMap="TeaMarketProportionResult">
        <include refid="selectTeaMarketProportionVo"/>
        <where>  
            <if test="teaType != null "> and tea_type = #{teaType}</if>
            <if test="proportion != null "> and proportion = #{proportion}</if>
        </where>
    </select>
    
    <select id="selectTeaMarketProportionById" parameterType="Long" resultMap="TeaMarketProportionResult">
        <include refid="selectTeaMarketProportionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTeaMarketProportion" parameterType="TeaMarketProportion">
        insert into tea_market_proportion
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="teaType != null">tea_type,</if>
            <if test="proportion != null">proportion,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="teaType != null">#{teaType},</if>
            <if test="proportion != null">#{proportion},</if>
         </trim>
    </insert>

    <update id="updateTeaMarketProportion" parameterType="TeaMarketProportion">
        update tea_market_proportion
        <trim prefix="SET" suffixOverrides=",">
            <if test="teaType != null">tea_type = #{teaType},</if>
            <if test="proportion != null">proportion = #{proportion},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeaMarketProportionById" parameterType="Long">
        delete from tea_market_proportion where id = #{id}
    </delete>

    <delete id="deleteTeaMarketProportionByIds" parameterType="String">
        delete from tea_market_proportion where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>