<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TeaPeasantAssetMapper">
    
    <resultMap type="TeaPeasantAsset" id="TeaPeasantAssetResult">
        <result property="id"    column="id"    />
        <result property="assetsType"    column="assets_type"    />
        <result property="content"    column="content"    />
        <result property="remarks"    column="remarks"    />
        <result property="teaPeasantId"    column="tea_peasant_id"    />
    </resultMap>

    <sql id="selectTeaPeasantAssetVo">
        select id, assets_type, content, remarks, tea_peasant_id from tea_peasant_asset
    </sql>

    <select id="selectTeaPeasantAssetList" parameterType="TeaPeasantAsset" resultMap="TeaPeasantAssetResult">
        <include refid="selectTeaPeasantAssetVo"/>
        <where>  
            <if test="assetsType != null  and assetsType != ''"> and assets_type = #{assetsType}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="teaPeasantId != null "> and tea_peasant_id = #{teaPeasantId}</if>
        </where>
    </select>
    
    <select id="selectTeaPeasantAssetById" parameterType="Long" resultMap="TeaPeasantAssetResult">
        <include refid="selectTeaPeasantAssetVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTeaPeasantAsset" parameterType="TeaPeasantAsset" useGeneratedKeys="true" keyProperty="id">
        insert into tea_peasant_asset
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assetsType != null">assets_type,</if>
            <if test="content != null">content,</if>
            <if test="remarks != null">remarks,</if>
            <if test="teaPeasantId != null">tea_peasant_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assetsType != null">#{assetsType},</if>
            <if test="content != null">#{content},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="teaPeasantId != null">#{teaPeasantId},</if>
         </trim>
    </insert>

    <update id="updateTeaPeasantAsset" parameterType="TeaPeasantAsset">
        update tea_peasant_asset
        <trim prefix="SET" suffixOverrides=",">
            <if test="assetsType != null">assets_type = #{assetsType},</if>
            <if test="content != null">content = #{content},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="teaPeasantId != null">tea_peasant_id = #{teaPeasantId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeaPeasantAssetById" parameterType="Long">
        delete from tea_peasant_asset where id = #{id}
    </delete>

    <delete id="deleteTeaPeasantAssetByIds" parameterType="String">
        delete from tea_peasant_asset where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>