<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TeaPeasantInfoMapper">

    <resultMap type="TeaPeasantInfo" id="TeaPeasantInfoResult">
        <result property="id"    column="id"    />
        <result property="enterpriseId"    column="enterprise_id"    />
        <result property="personName"    column="person_name"    />
        <result property="sex"    column="sex"    />
        <result property="age"    column="age"    />
        <result property="nation"    column="nation"    />
        <result property="politicsStatus"    column="politics_status"    />
        <result property="mobile"    column="mobile"    />
        <result property="skill"    column="skill"    />
        <result property="job"    column="job"    />
        <result property="creditLevel"    column="credit_level"    />
        <result property="education"    column="education"    />
        <result property="pic"    column="pic"    />
        <result property="homeAddress"    column="home_address"    />
    </resultMap>

    <sql id="selectTeaPeasantInfoVo">
        select id, enterprise_id, person_name, sex, age, nation, politics_status, mobile, skill, job, credit_level, education, pic, home_address from tea_peasant_info
    </sql>

    <select id="selectTeaPeasantInfoList" parameterType="TeaPeasantInfo" resultMap="TeaPeasantInfoResult">
        <include refid="selectTeaPeasantInfoVo"/>
        <where>
            <if test="enterpriseId != null "> and enterprise_id = #{enterpriseId}</if>
            <if test="personName != null  and personName != ''"> and person_name like concat('%', #{personName}, '%')</if>
            <if test="sex != null "> and sex = #{sex}</if>
            <if test="age != null "> and age = #{age}</if>
            <if test="nation != null  and nation != ''"> and nation = #{nation}</if>
            <if test="politicsStatus != null  and politicsStatus != ''"> and politics_status = #{politicsStatus}</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="skill != null  and skill != ''"> and skill = #{skill}</if>
            <if test="job != null  and job != ''"> and job = #{job}</if>
            <if test="creditLevel != null "> and credit_level = #{creditLevel}</if>
            <if test="education != null "> and education = #{education}</if>
            <if test="pic != null  and pic != ''"> and pic = #{pic}</if>
            <if test="homeAddress != null  and homeAddress != ''"> and home_address = #{homeAddress}</if>
        </where>
    </select>

    <select id="selectTeaPeasantInfoById" parameterType="Long" resultMap="TeaPeasantInfoResult">
        <include refid="selectTeaPeasantInfoVo"/>
        where id = #{id}
    </select>

    <select id="getPeasantEducation" resultType="com.alibaba.fastjson.JSONObject">
        select
            count(education) educationNumber,t2.dict_label education
        from
            tea_peasant_info t1 LEFT JOIN sys_dict_data t2 ON (t2.dict_type = 'sys_education' AND t1.education = t2.dict_value)
        group by
            t1.education
    </select>

    <select id="getTotalNumber" resultType="int">
        select count(id) totalNumber from tea_peasant_info
    </select>

    <select id="getTeaPersonalInformation"
            resultType="com.wanou.project.system.domain.openApi.TeaPersonalInformation" parameterType="int">
        select
            t1.person_name teaGrowerName,t5.dict_label teaGrowerSex,t1.age teaGrowerAge,t1.nation,t2.dict_label education,t3.dict_label politicsStatus,t1.mobile,t1.job,t1.home_address homePhone, t1.skill,t4.dict_label creditLevel
        from
            tea_peasant_info t1 LEFT JOIN sys_dict_data t2 on (t2.dict_type='sys_education' and t2.dict_value=t1.education) LEFT JOIN sys_dict_data t3 on(t3.dict_type='sys_politics_status' and t3.dict_value=t1.politics_status) LEFT JOIN sys_dict_data t4 on(t4.dict_type='tea_peasant_credit_level' and t4.dict_value=t1.credit_level) LEFT JOIN sys_dict_data t5 on(t5.dict_type='sys_user_sex' and t5.dict_value=t1.sex)
        where
            t1.id=#{id}
    </select>

    <select id="getPeasantRegionYieldValue"
            resultType="com.wanou.project.system.domain.openApi.TeaPeasantRegionYieldValue">
        SELECT
            COUNT(DISTINCT(t3.id)) personNumber,(SUM(yield_value_number) / 20000000) yieldValueNum,(SUM(yield_value_money) / 10000) yieldValueMoney,t1.region
        FROM
            tea_enterprise_info t1 LEFT JOIN tea_enterprise_yield_sales t2  ON t2.tea_peasant_id = t1.id
        LEFT JOIN tea_peasant_info t3 on t3.enterprise_id=t1.id
        GROUP BY
            t1.region
    </select>

    <insert id="insertTeaPeasantInfo" parameterType="TeaPeasantInfo" useGeneratedKeys="true" keyProperty="id">
        insert into tea_peasant_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="enterpriseId != null">enterprise_id,</if>
            <if test="personName != null">person_name,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="nation != null">nation,</if>
            <if test="politicsStatus != null">politics_status,</if>
            <if test="mobile != null">mobile,</if>
            <if test="skill != null">skill,</if>
            <if test="job != null">job,</if>
            <if test="creditLevel != null">credit_level,</if>
            <if test="education != null">education,</if>
            <if test="pic != null">pic,</if>
            <if test="homeAddress != null">home_address,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="enterpriseId != null">#{enterpriseId},</if>
            <if test="personName != null">#{personName},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="nation != null">#{nation},</if>
            <if test="politicsStatus != null">#{politicsStatus},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="skill != null">#{skill},</if>
            <if test="job != null">#{job},</if>
            <if test="creditLevel != null">#{creditLevel},</if>
            <if test="education != null">#{education},</if>
            <if test="pic != null">#{pic},</if>
            <if test="homeAddress != null">#{homeAddress},</if>
         </trim>
    </insert>

    <update id="updateTeaPeasantInfo" parameterType="TeaPeasantInfo">
        update tea_peasant_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="enterpriseId != null">enterprise_id = #{enterpriseId},</if>
            <if test="personName != null">person_name = #{personName},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="nation != null">nation = #{nation},</if>
            <if test="politicsStatus != null">politics_status = #{politicsStatus},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="skill != null">skill = #{skill},</if>
            <if test="job != null">job = #{job},</if>
            <if test="creditLevel != null">credit_level = #{creditLevel},</if>
            <if test="education != null">education = #{education},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="homeAddress != null">home_address = #{homeAddress},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeaPeasantInfoById" parameterType="Long">
        delete from tea_peasant_info where id = #{id}
    </delete>

    <delete id="deleteTeaPeasantInfoByIds" parameterType="String">
        delete from tea_peasant_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
