<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanou.project.system.mapper.TeaWarehouseCurrentValueMapper">

    <resultMap type="TeaWarehouseCurrentValue" id="TeaWarehouseCurrentValueResult">
        <result property="id"    column="id"    />
        <result property="varieties"    column="varieties"    />
        <result property="currentInventory"    column="current_inventory"    />
        <result property="goodsValue"    column="goods_value"    />
        <result property="inventoryWarningQuantity"    column="inventory_warning_quantity"    />
        <result property="teaWarehouseId"    column="tea_warehouse_id"    />
    </resultMap>

    <sql id="selectTeaWarehouseCurrentValueVo">
        select id, varieties, current_inventory, goods_value, inventory_warning_quantity, tea_warehouse_id from tea_warehouse_current_value
    </sql>

    <select id="selectTeaWarehouseCurrentValueList" parameterType="TeaWarehouseCurrentValue" resultMap="TeaWarehouseCurrentValueResult">
        <include refid="selectTeaWarehouseCurrentValueVo"/>
        <where>
            <if test="varieties != null "> and varieties = #{varieties}</if>
            <if test="currentInventory != null "> and current_inventory = #{currentInventory}</if>
            <if test="goodsValue != null "> and goods_value = #{goodsValue}</if>
            <if test="inventoryWarningQuantity != null "> and inventory_warning_quantity = #{inventoryWarningQuantity}</if>
            <if test="teaWarehouseId != null "> and tea_warehouse_id = #{teaWarehouseId}</if>
        </where>
    </select>

    <select id="selectTeaWarehouseCurrentValueById" parameterType="Long" resultMap="TeaWarehouseCurrentValueResult">
        <include refid="selectTeaWarehouseCurrentValueVo"/>
        where id = #{id}
    </select>

    <select id="getValueDistribution" resultType="com.alibaba.fastjson.JSONObject">
        select
            t1.goods_value , t2.dict_label
        from
            tea_warehouse_current_value t1 LEFT JOIN sys_dict_data t2
        on(t2.dict_type='sys_tea_type' and t2.dict_value=t1.varieties)
        where
            tea_warehouse_id=#{teaWarehouseId};
    </select>

    <insert id="insertTeaWarehouseCurrentValue" parameterType="TeaWarehouseCurrentValue" useGeneratedKeys="true" keyProperty="id">
        insert into tea_warehouse_current_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="varieties != null">varieties,</if>
            <if test="currentInventory != null">current_inventory,</if>
            <if test="goodsValue != null">goods_value,</if>
            <if test="inventoryWarningQuantity != null">inventory_warning_quantity,</if>
            <if test="teaWarehouseId != null">tea_warehouse_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="varieties != null">#{varieties},</if>
            <if test="currentInventory != null">#{currentInventory},</if>
            <if test="goodsValue != null">#{goodsValue},</if>
            <if test="inventoryWarningQuantity != null">#{inventoryWarningQuantity},</if>
            <if test="teaWarehouseId != null">#{teaWarehouseId},</if>
         </trim>
    </insert>

    <update id="updateTeaWarehouseCurrentValue" parameterType="TeaWarehouseCurrentValue">
        update tea_warehouse_current_value
        <trim prefix="SET" suffixOverrides=",">
            <if test="varieties != null">varieties = #{varieties},</if>
            <if test="currentInventory != null">current_inventory = #{currentInventory},</if>
            <if test="goodsValue != null">goods_value = #{goodsValue},</if>
            <if test="inventoryWarningQuantity != null">inventory_warning_quantity = #{inventoryWarningQuantity},</if>
            <if test="teaWarehouseId != null">tea_warehouse_id = #{teaWarehouseId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeaWarehouseCurrentValueById" parameterType="Long">
        delete from tea_warehouse_current_value where id = #{id}
    </delete>

    <delete id="deleteTeaWarehouseCurrentValueByIds" parameterType="String">
        delete from tea_warehouse_current_value where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteTeaWarehouseCUrrentValueByTeaWarehouseId">
        delete from tea_warehouse_current_value where tea_warehouse_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
